/Lección01/MundoPc/nbproject/private/
/Lección01/MundoPc/build/
/Lección02/ArgumentosVariables/nbproject/private/
/Lección02/ArgumentosVariables/build/
/Lección02/ArgumentosVariables/dist/
/Lección02/Enumeraciones/nbproject/private/
/Lección02/Enumeraciones/build/
/Lección02/Enumeraciones/dist/
/Lección02/BloquesInicializacion/nbproject/private/
/Lección02/BloquesInicializacion/build/
/Lección02/BloquesInicializacion/dist/
/Lección03/ForEach/nbproject/private/
/Lección03/ForEach/build/
/Lección03/AutoboxingUnboxing/nbproject/private/
/Lección03/AutoboxingUnboxing/build/
/Lección03/ModificadoresAcceso/nbproject/private/
/Lección03/ModificadoresAcceso/build/
/Lección03/ModificadoresAcceso/dist/
/Lección04/Sobreescritura/nbproject/private/
/Lección04/Sobreescritura/build/
/Lección04/InstanceOf/nbproject/private/
/Lección04/InstanceOf/build/
/Lección05/ConversionObjetos/nbproject/private/
/Lección05/ConversionObjetos/build/
/Lección05/ConversionObjetos/dist/
/Lección05/ConversionObjetos_1/nbproject/private/
/Lección05/ConversionObjetos_1/build/
/Lección05/ClasesAbstractas/nbproject/private/
/Lección05/ClasesAbstractas/build/
/Lección06/Interfaces/nbproject/private/
/Lección06/Interfaces/build/
/Lección06/Interfaces/dist/
/Lección07/JavaBeans/nbproject/private/
/Lección07/JavaBeans/build/
/Lección07/JavaBeans/dist/
/Lección08/ManejoExcepciones1/nbproject/private/
/Lección08/ManejoExcepciones1/build/
/Lección09/CalculadoraUTN/nbproject/private/
/Lección09/CalculadoraUTN/dist/
/Lección09/CalculadoraUTN/build/
/Lección11/ListarPersonas/nbproject/private/
/Lección11/ListarPersonas/build/
/Lección11/ListarPersonas/dist/
